body{
    margin: 0%;
    background-color: #2BD957;
}

nav{
    display: flex;
    background: #360259;
    height: 50px;
    justify-content: flex-end; 
    align-content: center;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.493);
}

h1{
    font-family: 'Yeon Sung', cursive;
    font-family: 'Play', sans-serif;
    font-family: 'Metal Mania', cursive;
    color: #360259;
    text-align: center;
}

h2{
    font-family: 'Yeon Sung', cursive;
    font-family: 'Play', sans-serif;
    font-family: 'Metal Mania', cursive;
    border: 5px solid #360259;
    border-radius: 20px;
    text-align: center;
    color: #360259;
    width: 700PX;
    margin: auto;
    margin-top: 15px;
    background-color: #8404D9;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.493);
}
h3{
    color: #360259;
    
}

p{
    font-family: 'Play', sans-serif;
    text-align: center;
}

ul{
    font-family: 'Play', sans-serif;
    text-align: center;
}
li{
    font-family: 'Play', sans-serif;
    text-align: center;
}
.foto{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.493);
    border-radius: 50%;
    border:5px solid #360259;
}

.s1{
    display: flex;
    justify-content: center;
}

.s2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5PX solid #360259;
    width: 700px;
    margin:auto;
    margin-top: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.096);
    background-color: #8404D9;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.493);
}

.s3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5PX solid #360259;
    width: 700px;
    margin:auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #8404D9;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.493);
}
.s4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5PX solid #360259;
    width: 700px;
    margin:auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #8404D9;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.493);
}
.admin-button {
    text-decoration: none;
    padding: 10px 5px;
    background-color: #2BD957;
    border: 5px solid #360259;
    border-radius: 15px;
    color: black;
    width: 100px;
   
}
footer{
    margin-top: 20px;
    background:#360259;
    height: 50px;
}